<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
</div> <!-- 关闭 .main-container -->
<footer th:fragment="common_footer" class="footer">
  <div class="container">
    <p>© <span th:text="${#dates.year(#dates.createNow())}">2024</span> HR Management System. All Rights Reserved.</p>
  </div>
</footer>
<!-- 可以引入全局JS -->
<script type="text/javascript" th:src="@{/js/script.js}"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> -->
</body>
</html>