<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 包含页面的元信息、标题和CSS链接 -->
<head th:fragment="page_head(pageTitleParam)">
    <meta charset="UTF-8">
    <title th:text="${pageTitleParam} ?: 'HR Management System Default Title'"></title>
    <!-- 引入全局CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <!-- 可以在这里添加其他的通用 <link> 或 <meta> 标签 -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"> -->
</head>

<body>
<header th:fragment="main_navbar">
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">HR管理系统</a>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" th:href="@{/}">首页</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/departments/list}">部门管理</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/jobs/list}">岗位管理</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/employees/list}">员工管理</a></li>
                <!-- 其他导航项 -->
            </ul>
        </div>
    </nav>
</header>
</body>

</html>