<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.hr.mapper.DeptInfMapper">
    <select id="findAll" resultType="DeptInf">
        SELECT dept_id, dept_name, dept_remark
        FROM dept_inf
        ORDER BY dept_id ASC
    </select>
    <select id="findById" parameterType="java.lang.Integer" resultType="DeptInf">
        SELECT dept_id, dept_name, dept_remark
        FROM dept_inf
        WHERE dept_id = #{deptId}
    </select>
    <insert id="insert" parameterType="DeptInf" useGeneratedKeys="true" keyProperty="deptId">
        INSERT INTO dept_inf (dept_name, dept_remark)
        VALUES (#{deptName}, #{deptRemark})
    </insert>
    <update id="update" parameterType="DeptInf">
        UPDATE dept_inf
        SET dept_name = #{deptName},
            dept_remark = #{deptRemark}
        WHERE dept_id = #{deptId}
    </update>
    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE FROM dept_inf
        WHERE dept_id = #{deptId}
    </delete>

</mapper>